/**/
:root {
    --bg: rgba(0, 0, 255, 0.4);
    --bg2: #2f2841;
    --bg3: #2f2841d2;
    --bg4: #017aff;
    --bg5: #025974;
    --bg6: #2f284183;
    --base: #fff;
    --text-color: #f0f0f5;
    --text-color2: #f0ffffde;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 100%;
    /*background-image: url(../imagens/programming.jpg);*/
    background-image: url(../imagens/fundo_preto.webp);
    background-position: center center;
    background-size: cover;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: var(--bg);*/
    background-color: rgba(1, 1, 75, 0.24);
}

form{
    width: 400px;
    display: inherit;
    flex-direction: column;
    /*background-color: var(--bg3);*/
    background-color: var(--bg6);
    /*border: 1px solid #2f2841;*/
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 35px #000;
}

form h2 {
    font-size: 2.2rem;
    margin: 0px auto;
    color: var(--base);
}

.usuario, .senha {
    width: 100%;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0;
}

.usuario label, .senha label{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 8px;
}

.usuario #usuario, .senha #senha{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

#usuario:focus, #senha:focus{
    box-shadow: 0px 0px 10px 2px #017cff4d;
    outline: 2px solid #017cff83;
}

/* ---------- div checkbox ---------- */
.checkbox {
    width: 100%;
    margin: 15px 0;
    border: 2px solid red;
}
.checkbox label{
    margin: 0 8px;
    font-size: 1.2rem;
    color: var(--base);
    /*border: 1px solid #fff;*/
}

form .btn {
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 10px 0;
    margin: 25px 0;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--base);
    background-color: var(--bg4);
    box-shadow: 0px 0px 15px var(--bg5);
}


@media screen and (max-width: 450px){
    form{
        width: 350px;
        padding: 30px 15px;
    }
}



